@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'contact';
@import 'portfolio';
@import 'about';
@import 'blog';
@import 'config';

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.body-container {
    min-height: 100vh;
}

.section-container {
    max-width: 1080px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    background-color: $dark;
    color: $light;
    position: fixed;

    .brand {
        font-weight: 600;
        color: $light;
    }
    
    .nav-links {
        display: flex;
    }
    
    .link {
        margin-left: 50px;
        list-style: none;
    }
    
    a {
        color: $light;
        text-decoration: none;
        font-size: .9rem;
    }
}

.util__flex {
    display: flex;
}
  
.util__flex-col {
    flex: 0 0 auto;
}
  
.util__flex-eq {
    flex: 1;
}
  
.util__container {
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
    box-sizing: border-box;
}